---
import { useTranslation } from "@/i18n";
import Layout from "@/layouts/Layout.astro";

import Hero from "@components/Hero.astro";
import PageSection from "@components/PageSection.astro";
import SectionContainer from "@components/SectionContainer.astro";

import { useSections } from "@config/constants";

const { currentLocale } = Astro;

const { t } = useTranslation(currentLocale);

const PAGE_SECTIONS = useSections({ currentLocale });
---

<Layout title={t("meta.title")} description={t("meta.description")}>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>

    <div class="space-y-24">
      {
        PAGE_SECTIONS.map(({ component, icon, id, title }) => (
          <PageSection
            component={component}
            icon={icon}
            id={id}
            title={title}
          />
        ))
      }
    </div>
  </main>
</Layout>
