---
import Layout from "@/layouts/Layout.astro";
import PageSection from "@components/PageSection.astro";
import SectionTitle from "@components/SectionTitle.astro";

import { SECTIONS } from "@config/constants";

const sectionPromises = SECTIONS.map(async ({ component, ...rest }) => ({
  ...rest,
  Component: await component(),
}));
const sections = await Promise.all(sectionPromises);
---

<Layout
  title="Fab | Fullstack Developer"
  description="Desarrollador Fullstack con amplia experiencia en frontend, especializado en Vue.js. También he trabajado como Project Manager y tengo una sólida trayectoria en backend con Node.js, Express y MySQL. Descubre mis proyectos y habilidades en desarrollo web y gestión de proyectos."
>
  <main class="px-4">
    <PageSection class="py-16 md:py-36">
      <h1 class="text-4xl font-bold">Welcome to Astro</h1>
      <p class="text-lg">
        Astro is a new kind of static site builder that delivers lightning-fast
        performance with a modern developer experience.
      </p>
    </PageSection>

    <div class="space-y-24">
      {
        sections.map(({ icon, id, title, Component }) => (
          <PageSection id={id}>
            <SectionTitle title={title} icon={icon} />
            <Component />
          </PageSection>
        ))
      }
    </div>
  </main>
</Layout>
