---
import Layout from "@/layouts/Layout.astro";

import Hero from "@components/Hero.astro";
import PageSection from "@components/PageSection.astro";
import SectionContainer from "@components/SectionContainer.astro";

import { PAGE_SECTIONS } from "@config/constants";
---

<Layout
  title="Fab | Fullstack Developer"
  description="Desarrollador Fullstack con amplia experiencia en frontend, especializado en Vue.js. También he trabajado como Project Manager y tengo una sólida trayectoria en backend con Node.js, Express y MySQL. Descubre mis proyectos y habilidades en desarrollo web y gestión de proyectos."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>

    <div class="space-y-24">
      {
        PAGE_SECTIONS.map(({ component, icon, id, title }) => (
          <PageSection
            component={component}
            icon={icon}
            id={id}
            title={title}
          />
        ))
      }
    </div>
  </main>
</Layout>
