---
import { useTranslation } from "@/i18n";
import { PROFILE_DATA } from "@config/constants";

const { currentLocale } = Astro;
const { t } = useTranslation(currentLocale);

const description = t("about.description");
---

<article
  class="mt-16 flex flex-col-reverse items-center justify-center gap-10 md:flex-row"
>
  <div
    class="space-y-5 text-pretty [&>p>strong]:font-mono [&>p>strong]:font-normal [&>p>strong]:text-pink-500 dark:[&>p>strong]:text-pink-200"
  >
    {
      // eslint-disable-next-line astro/no-set-html-directive
      description.map((paragraph) => <p set:html={paragraph} />)
    }
  </div>

  <img
    alt={t("about.alt")}
    class="aspect-square w-60 rotate-3 rounded-2xl bg-blue-500/5 p-2 ring-1 ring-blue-900 md:w-72 dark:ring-blue-200/50"
    loading="lazy"
    src="/me.webp"
  />
</article>
