<div class="animate relative after:blur-sm">
  <div
    class="grid place-content-center rounded-full bg-emerald-50 px-3 py-1 text-sm text-emerald-900/80 transition-colors hover:text-emerald-900 dark:bg-neutral-900 dark:text-neutral-100/80 hover:dark:text-neutral-100"
  >
    <slot />
  </div>
</div>

<style>
  div {
    &::before,
    &::after {
      @apply absolute inset-[-2px] z-[-1] rounded-full;
      content: "";

      background: linear-gradient(-45deg, #10b981, #1d4ed8);
      background-size: 400% 400%;
      animation: rotate-gradient 7.5s cubic-bezier(0, 0.5, 1, 0.5) infinite;
    }
  }

  @keyframes rotate-gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
