---
import ExperienceItem from "@components/ExperienceItem.astro";

import FractalUpIcon from "@icons/FractalUp.astro";

import { useTranslation } from "@/i18n";

const { currentLocale } = Astro;

const { t } = useTranslation(currentLocale);

const experience = [
  {
    title: t("experiences.fractalup_project_manager.title"),
    company: "FractalUp",
    companyIcon: FractalUpIcon,
    type: "remote" as const,
    startDate: "2022-03-01",
    endDate: "2024-02-01",
    description: t("experiences.fractalup_project_manager.description"),
  },
  {
    title: t("experiences.fractalup_fullstack.title"),
    company: "FractalUp",
    companyIcon: FractalUpIcon,
    type: "remote" as const,
    startDate: "2021-02-01",
    endDate: "2022-02-01",
    description: t("experiences.fractalup_fullstack.description"),
  },
];
---

<ol
  class="relative mx-3.5 mt-16 space-y-20 border-s-2 border-gray-200 dark:border-gray-700"
>
  {
    experience.map((item) => (
      <li class="ms-7">
        <ExperienceItem {...item} />
      </li>
    ))
  }
</ol>
