---
import ExperienceItem from "@components/ExperienceItem.astro";

import FractalUpIcon from "@icons/FractalUp.astro";
import EncoraIcon from "@icons/Encora.astro";

import { EXPERIENCES_DATA } from "@/data/portfolio";

const { currentLocale } = Astro;
const locale = currentLocale === "en" ? "en" : "es";

const COMPANY_ICONS = {
  encora: EncoraIcon,
  fractalup: FractalUpIcon,
};

const experience = EXPERIENCES_DATA.map((item) => ({
  ...item,
  ...item.content[locale],
  companyIcon: COMPANY_ICONS[item.companyIcon],
}));
---

<ol
  class="relative mx-3.5 mt-16 space-y-20 border-s-2 border-gray-200 dark:border-gray-700"
>
  {
    experience.map((item) => (
      <li class="ms-7">
        <ExperienceItem {...item} />
      </li>
    ))
  }
</ol>
