---
import { PAGE_SECTIONS } from "@config/constants";
import ThemeToggle from "@components/ThemeToggle.astro";

const navItems = PAGE_SECTIONS;
---

<header
  class="sticky top-3 z-10 mx-auto flex w-full items-center justify-center"
>
  <nav class="flex items-center justify-center gap-4 text-sm font-medium">
    {
      navItems.map((link) => (
        <a aria-label={link.title} href={`#${link.id}`}>
          {link.title}
        </a>
      ))
    }
    <ThemeToggle class="[display:none]" />
  </nav>
</header>
