---
import { PAGE_SECTIONS } from "@config/constants";
import ThemeToggle from "@components/ThemeToggle.astro";

const navItems = PAGE_SECTIONS;
---

<header
  class="sticky top-3 z-10 mx-auto mt-5 flex w-full items-center justify-center px-1 md:px-5"
>
  <nav
    class="flex w-full items-center justify-between gap-4 rounded-full px-4 py-2 text-sm font-medium"
  >
    {
      navItems.map((link) => (
        <a
          aria-label={link.title}
          data-id={link.id}
          class="text-balance text-center"
          href={`#${link.id}`}
        >
          {link.title}
        </a>
      ))
    }
    <ThemeToggle class="[display:none]" />
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const sections = document.querySelectorAll("section");
    const navItems =
      document.querySelectorAll<HTMLAnchorElement>("header nav a");

    function updateNavItems(currentSectionId: string) {
      navItems.forEach((navItem) => {
        if (navItem.dataset.id === currentSectionId) {
          navItem.classList.add("text-pink-300", "dark:text-pink-300");
        } else {
          navItem.classList.remove("text-pink-300", "dark:text-pink-300");
        }
      });
    }

    function observerCallback(entries: IntersectionObserverEntry[]) {
      entries.some((entry) => {
        if (entry.isIntersecting) {
          updateNavItems(entry.target.id);
        }
        return entry.isIntersecting;
      });
    }

    const observer = new IntersectionObserver(observerCallback, {
      root: null, // Use the viewport as the container
      rootMargin: "0px",
      threshold: 0.5, // Adjust threshold as needed
    });

    sections.forEach((section) => observer.observe(section));

    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect();
      } else {
        sections.forEach((section) => observer.observe(section));
      }
    };
  });
</script>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 10vh;
  }

  @keyframes nav-shadown {
    from {
      @apply max-w-xl;
    }
    to {
      @apply max-w-md bg-white/20 shadow-lg backdrop-blur-md;
    }
  }
</style>
