---
import { PAGE_SECTIONS } from "@config/constants";
import ThemeToggle from "@components/ThemeToggle.astro";

const navItems = PAGE_SECTIONS;
---

<header
  class="sticky top-3 z-10 mx-auto mt-5 flex w-full items-center justify-center px-5"
>
  <nav
    class="flex w-full items-center justify-between gap-4 rounded-full px-3 py-1 text-sm font-medium"
  >
    {
      navItems.map((link) => (
        <a
          aria-label={link.title}
          href={`#${link.id}`}
          class="text-balance text-center"
        >
          {link.title}
        </a>
      ))
    }
    <ThemeToggle class="[display:none]" />
  </nav>
</header>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 10vh;
  }

  @keyframes nav-shadown {
    from {
      @apply max-w-xl;
    }
    to {
      @apply max-w-md bg-gray-300/50 backdrop-blur-md dark:bg-white/50;
    }
  }
</style>
