---
import Badge from "@components/Badge.astro";
import SocialPill from "@components/SocialPill.astro";

import GitHub from "@icons/GitHub.astro";
import LinkedIn from "@icons/LinkedIn.astro";

import { PROFILE_DATA } from "@config/constants";
import { useTranslation } from "@/i18n";

const { currentLocale } = Astro;

const { t } = useTranslation(currentLocale);

const {
  socialMedia: {
    github: { url: githubUrl },
    linkedin: { url: linkedinUrl },
  },
} = PROFILE_DATA;
---

<div class="max-w-xl">
  <div class="flex gap-4">
    <img
      class="size-16 rounded-full shadow-lg"
      src="/fab.webp"
      alt={t("hero.alt")}
    />
    <a
      href={linkedinUrl}
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center"
    >
      <Badge>
        {t("hero.badge")}
      </Badge>
    </a>
  </div>

  <h1
    class="mt-4 text-4xl font-bold tracking-tight light:text-gray-800 sm:text-5xl"
  >
    {t("hero.title")}
  </h1>

  {/* eslint-disable astro/no-set-html-directive */}
  <p
    class="[&>strong]:text-primary-900 dark:[&>strong]:text-primary-500 mt-6 text-pretty text-xl [&>strong]:font-semibold"
    set:html={t("hero.description")}
  />
  <!-- 593193 -->

  <nav class="mt-8 flex flex-wrap gap-4">
    <SocialPill href={githubUrl}>
      <GitHub class="size-4" />
      GitHub
    </SocialPill>

    <SocialPill href={linkedinUrl}>
      <LinkedIn class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
