---
interface Props {
  title?: string;
  icon?: () => Promise<(_props: Record<string, any>) => any>;
}

const { title, icon } = Astro.props;
const Icon = await icon?.();
---

<h2 class="mb-6 flex items-center gap-x-3 text-3xl font-semibold">
  {Icon && <Icon class="size-8" />}

  {title}
</h2>
